.border-blue {
  border: 1px solid blue
}

.App {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}

.side {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.inner {
  margin: 0.2rem 0.5rem;
}